@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* my solution */

a {
  text-decoration: none;
  color: inherit;
}

ul, 
ol {
  list-style: none;
  padding-inline: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.left-links,
.right-links {
  display: flex;
  gap: 16px;
  margin: 16px 16px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: auto;
}

.footer {
  display: flex;
  background-color: rgb(233, 233, 233); 
  justify-content: space-between;
}

body {
  display: flex;
  flex-direction: column;
}

button {
  padding: 8px 12px;
}